body {
    width: 100%;
    height: 300px;
    margin: 0;
    padding-top: 0px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwWUhbGSII-ZNDVCKdGR4XD0JR4bhPEP-_SA&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #15f4ee;
    font-family: 'Times New Roman',serif;
    font-size: 16px;
}

.questions {
    text-align: left;
}

h1,
p {
    margin: 10px auto;
    text-align: center;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding: 0 30px 20px 30px;
    background-color: #3f5a36;
}

fieldset {
    border: none;
    padding: 20px 10px;
    border-top: 3px solid #fdd023;
}

fieldset:first-of-type {
    border-top: none;
}

label {
    display: block;
    margin: 5px 0;
}

input,
textarea,
select {
    margin: 10px 0 10px 0;
    width: 100%;
    min-height: 30px;
}

input,
textarea {
    background-color: #065535;
    border: 1px solid #fdd023;
    color: #15f4ee;
}

.inline {
    width: unset;
    margin: 0 10px 0 0;
    vertical-align: middle;
}

input[type="submit"] {
    display: block;
    width: 90%;
    margin: 20px auto;
    height: 30px;
    font-size: 1.1rem;
    background-color: #cc0000;
    border-color: #15f4ee;
    min-width: 300px;
}